.badge{
  width: 30px;
  height: 30px;
  background-color: tomato;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.new{
  width: 8px;
  height: 8px;
  position: absolute;
  left: 30px;
  bottom: 0;
  top: -15px;
}